.item_date {
    font-size: 24px;
    margin-bottom: 10px;
}
.item_title {
    font-size: 24px;
    color: #999;
    margin-bottom: 5px;
}
.block {
    display: flex;
    align-items: flex-end;
    margin-bottom: 63px;
    gap: 5px;
    .item_eth {
        font-size: 42px;
        letter-spacing: -0.08em;
    }
    .item_donation {
        font-size: 28px;
        color: #999;
        line-height: 53px;
    }
}
.dashedhr {
    margin-bottom: 63px;
    border: 1px dashed #999;
}

.mypage_request_btn {
    margin: 0px 0px 5px 20px !important;
    width: 100px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #00AEEF;
    color: white;
}

.mypage_request_btn:hover {
    background-color: rgba(150,230,255,100);
}

.mypage_finalize_btn {
    margin: 0px 0px 5px 20px !important;
    width: 100px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(240,140,0,100);
    color: white;
}

.mypage_finalize_btn:hover {
    background-color: rgba(255,200,155,100);
}
