* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #000;
}

.institution_header {
    width: 100%;
    height: 383px;
    padding: 0 320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: #f1f1f1;
    margin-bottom: 60px;
    .institution_image {
        width: 206px;
        height: 206px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
    }
    .institution_title {
        .institution_category {
            font-size: 28px;
        }
        .institution_name {
            font-size: 42px;
            font-weight: bold;
        }
    }
}
.Institution_container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 320px 300px 320px;
    .institution_intro {
        margin-bottom: 72px;
        .intro_p {
            font-size: 18px;
            margin-bottom: 40px;
        }
        .main_course {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .main_p {
            font-size: 18px;
        }
    }
    .institution_profile {
        display: flex;
        gap: 25px;
        font-size: 20px;
        font-weight: 300;
        .left_side {
            .left {
                margin-bottom: 10px;
            }
            :last-child {
                margin-bottom: 115px;
            }
        }
        .right_side {
            .right {
                margin-bottom: 10px;
            }
            :last-child {
                margin-bottom: 115px;
            }
        }
    }
    .proposals {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 41px;
        span {
            color: #00aeef;
        }
    }
    .proposal_fx {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}
