* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f9f9f9;
}

.mypage_container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 430px;
    .mypage_header {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        .header_tag {
            font-size: 22px;
            color: #747474;
            font-weight: 500;
        }
        .header_name {
            font-size: 44px;
            font-weight: 500;
            margin-bottom: 60px;
        }
    }
}
