* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f7f7f7;
    overflow-x: hidden;
}

.form_container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 320px;
    .form_title {
        text-align: center;
        font-size: 42px;
        font-weight: bold;
        margin-top: 150px;
        margin-bottom: 175px;
    }
    form {
        .titleinput {
            width: 100%;
            padding: 15px 30px;
            font-size: 22px;
            border-radius: 20px;
            border: 1px solid #999;
            background-color: transparent;
            margin-bottom: 40px;
        }
        .datecontainer {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            .dateinput {
                width: 48%;
                padding: 15px 30px;
                font-size: 22px;
                border-radius: 20px;
                border: 1px solid #999;
                background-color: transparent;
            }
        }
        #categories {
            width: 100%;
            padding: 15px 30px;
            border-radius: 20px;
            font-size: 22px;
            margin-bottom: 40px;
            background-color: transparent;
            border: 1px solid #999;
        }
        .eth_input {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-bottom: 40px;
            input {
                font-size: 22px;
                padding: 15px 30px;
                border-radius: 20px;
                background-color: transparent;
                border: 1px solid #999;
            }
        }
        .editor {
            margin-bottom: 185px;
        }
    }
}
.button_container {
    display: flex;
    justify-content: center;
    .submit_Btn {
        font-size: 24px;
        padding: 10px 100px;
        background-color: #00aeef;
        border: none;
        border-radius: 5px;
        color: #fff;
        margin-bottom: 200px;
    }
}

#DonationManage {
   
    .manage_title {
        margin-top: 126px;
        text-align: center;
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .selection {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 5px;
    }
    .hr {
        border: 1px solid #999;
        margin-bottom: 35px;
    }
    .manage_list {
        display: flex;
        flex-wrap: wrap;
        gap: 28px;
        margin-bottom: 150px;
    }
}

#pageCost {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 320px;
    .cost_title {
        margin-top: 126px;
        text-align: center;
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .cost_input_header {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 5px;
    }
    .hr {
        border: 1px solid #999;
        margin-bottom: 35px;
    }
    .cost_list {
    }
}
