*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f7f7f7;
}

.donationlist_container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 320px;
.donationCount {
    margin-top: 140px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    i{
        color: red;
        font-size: 60px;
    }
    .countbox {
        font-size: 24px;
        padding: 12px 48px;
        border: 1px solid #000;
        border-radius: 50px;
        margin-left: 10px;
    }
}
  
.header_p{
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    span{
        color: red;
    }
}
    
    }
.page_card {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    .listcard{
        width: 730px;
        height: 272px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 7px 14px 30px -3px rgba(0, 0, 0, 0.1);
        display: flex;
        .cardImg{
            .img {
                width: 283px;
                height: 272px;
                background-color: gray;
                border-radius: 20px 0px 0px 20px;
            }
        }
        .cardP{
            padding: 24px 30px;
            .hashtag {
                color: #747474;
                font-size: 16px;   
            }
            .title {
                color: #000;
                font-size: 18px;
                margin-right: 80px;
                margin-top : 26px;
            }
            .paragraph {
                margin-top: 25px;
                color: #747474;
                font-size: 14px;
            }
        }
    }
}
.bannerCard {
    margin-top: 110px;
}