.proposal_container {
    width: 290px;
    .proposal_image {
        background-color: #d9d9d9;
        width: 290px;
        height: 145px;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .proposal_title {
        font-size: 18px;
        margin-bottom: 15px;
        color: #444;
        text-align: center;
    }
    .proposal_name {
        font-size: 15px;
        margin-bottom: 20px;
        color: #444;
    }
    .proposal_prs {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}
