.rank_container {
    width: 400px;
    height: 563px;
    background-color: #424242;
    border-radius: 20px;
    color: white;
    padding: 30px 40px;
    .rank_header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .rank_item {
        .item_i {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1745px) {
    .rank_container {
        width: 810px;
    }
}
