.listcard {
    width: 810px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 7px 14px 30px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    .cardImg {
        .img {
            width: 290px;
            height: 300px;
            background-color: gray;
            border-radius: 20px 0px 0px 20px;
        }
    }
    .cardP {
        padding: 24px 30px;
        .hashtag {
            color: #747474;
            font-size: 16px;
        }
        .title {
            color: #000;
            font-size: 18px;
            margin-right: 80px;
            margin-top: 26px;
        }
        .paragraph {
            margin-top: 15px;
            color: #747474;
            font-size: 14px;
        }
        .fund {
            margin-top: 50px;
            color: #fff;
            width: 150px;
            background-color: #3f3f3f;
            padding: 5px 20px;
            font-size: 14px;
        }
    }
}

.listcard:hover {
    transform: scale(1.04);
    transition: 0.2s;
}
