.rank_container {
    width: 400px;
    height: 563px;
    background-color: #424242;
    border-radius: 20px;
    color: white;
    padding: 30px 40px;
    .rank_header {
        font-size: 22px;
        font-weight: bold;
    }
}

// .rank_container:hover {
//     // transform: scale(1.04);
//     // transition: 0.2s;
// }
