//UnicefBanner.jsx
.unicef_container {
    width: 400px;
    height: 213px;
    background-color: #00aeef;
    border-radius: 20px;
    padding: 30px 23px 23px 42px;
    box-shadow: 7px 14px 30px -3px rgba(0, 0, 0, 0.1);
    .unicef_header {
        text-decoration: underline;
        color: #fff;
        font-size: 24px;
        font-family: "Roboto", sans-serif;
    }
    .unicef_underline {
        font-size: 11px;
        color: #fff;
        font-family: "Roboto", sans-serif;
    }
    .unicef_link {
        margin-top: 82px;
        color: #fff;
        text-align: right;
        .link_p {
            font-size: 12px;
        }
        .unicef_shortcut {
            font-size: 14px;
            span {
                font-family: "Roboto", sans-serif;
            }
        }
    }
}

.unicef_container:hover {
    transform: scale(1.04);
    transition: 0.2s;
}
