.vote_item_card {
    width: 400px;
    height: 429px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 14px 30px 10px rgba(0, 0, 0, 0.05);
    .cardImg {
        width: 100%;
        height: 256px;
        background-color: #999;
        border-radius: 15px 15px 0 0;
    }
    .card_content {
        padding: 10px 30px;
        .card_header {
            display: flex;
            // align-items: flex-start;
            margin-top: 10px;
            gap: 24px;
            .list_num {
                font-size: 32px;
                font-weight: bold;
            }
            .name {
                font-size: 28px;
                font-weight: bold;
            }
        }
        .card_progress {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            gap: 13px;
            .card_label {
                margin-top: -9px;
                font-size: 18px;
                font-weight: 500;
                color: #999;
            }
            .progress_label {
                font-size: 18px;
                font-weight: 500;
                color: #999;
                margin-bottom: 5px;
            }
        }
        .card_btn {
            display: flex;
            justify-content: center;
            .vote_btn {
                padding: 4px 50px;
                border: none;
                background-color: #00aeef;
                color: #fff;
                border-radius: 5px;
                font-size: 18px;
                cursor: pointer;
            }
        }
    }
}
.vote_item_card:hover {
    transform: scale(1.05);
    transition: 0.2s;
    background-color: rgba(0, 175, 239, 0.125);
}
